#navbar {
    height: 100px;
}

.success {
    color:green;
    transition: all ease-in 0.5s;
}

.error {
    color:red;
    font-size:20px;
    font-weight:bold;
    transform:rotate(45deg);
    transition: all ease-in 2s;
}
